* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #2d2852, #1a1633);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 330px;
  min-height: 520px;
  background: linear-gradient(145deg, #231e39, #1e1a34);
  border-radius: 16px;
  padding: 32px 24px;
  text-align: center;
  color: #fff;
  position: relative;
  box-shadow: 0 25px 50px rgba(0,0,0,0.45);
  padding-bottom: 40px;
}



.badge {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #f5c518;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 4px;
}
/* Image Section */
.image-section {
  position: relative;           
  display: flex;                
  justify-content: center;
  padding-top: 20px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #4f46e5;
}

.buttons {
  margin-top: 50px;
}


.name {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 4px;
}

.location {
  font-size: 12px;
  letter-spacing: 1px;
  color: #b3b8cd;
  margin-bottom: 16px;
}

.bio {
  font-size: 14px;
  color: #b3b8cd;
  line-height: 1.5;
  margin-bottom: 24px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;     
  margin-bottom: 40px; 

}

.btn {
  padding: 9px 22px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.btn.primary {
  background: #03bfcb;
  color: #231e39;
}

.btn.secondary {
  background: transparent;
  border: 1px solid #03bfcb;
  color: #03bfcb;
}

.skills {
  text-align: left;
  margin-top: 50px; 
  
}

.skills h3 {
  font-size: 13px;
  margin-bottom: 12px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill-list span {
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #2d2747;
  color: #b3b8cd;
}